/*===== Mixin =====*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition()
  -webkit-transition: arguments
  -moz-transition: arguments
  -ms-transition: arguments
  -o-transition: arguments
  transition: arguments

transform()
  -webkit-transform-style: arguments
  -moz-transform-style: arguments
  -o-transform-style: arguments
  -ms-transform-style: arguments
  transform-style: arguments

animation()
  -webkit-animation: arguments
  -moz-animation: arguments
  -o-animation: arguments
  animation: arguments

/*===== Variables =====*/
$left-to-right = left-to-right
$right-to-left = left-to-right
$fade = fade
$upwards = upwards
$downwards = downwards

/*===== Default classes =====*/
body
    font 16px "Open Sans", sans-serif

.content-center
    width 940px
    margin 0 auto

/*===== Welcome block =====*/

.welcome
    background url("../img/welcome.jpg") 50% 50% no-repeat

.header
    overflow hidden

.slogan
  font-size 48px
  span
    display block
/*.asd*/
  /*animation($keyframe-name 800ms ease-out)*/

/*===== Animations =====*/
/*@keyframes {$keyframe-name}*/
  /*for i in 0..10*/
    /*{10% * i}*/
      /*opacity (i/10)*/