/*===== Variables =====*/
$animation-delay = .5s

/*===== Mixin =====*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition(property)
  if property == "none"
    -webkit-transition property
    -moz-transition property
    -ms-transition property
    -o-transition property
    transition property
  else
    -webkit-transition property $animation-delay
    -moz-transition property $animation-delay
    -ms-transition property $animation-delay
    -o-transition property $animation-delay
    transition property $animation-delay

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  -ms-transform arguments
  transform arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

title-font(size)
  font 300 size "Open Sans Condensed", sans-serif

section-titles(border-color, color)
  padding 55px 0 70px
  text-align center
  h3
    position relative
    width 600px
    margin 0 auto
    border-bottom 2px solid border-color
    title-font(64px)
    letter-spacing .1em
    line-height 100px
    text-transform uppercase
    color color
    &:after
      content ""
      position absolute
      bottom -16px
      left 50%
      margin 0 0 0 -14px
      width 0
      height 0
      border-style solid
      border-width 14px 14px 0 14px
      border-color border-color transparent transparent transparent

fixed-backgrounds(image-url)
  background image-url top center no-repeat
  background-size cover
  background-attachment fixed

/*===== Default classes =====*/
body
  font 16px "Open Sans", sans-serif

.content-center
  width 940px
  margin 0 auto

.wrapper
  > section
    position relative
    article
      line-height 1.5em

.next-step
  position absolute
  left 50%
  bottom 30px
  margin 0 0 0 -14px
  title-font(44px)
  text-align center
  color #fff
  span
  i
    display block
    position relative
    z-index 10
  span
    margin 15px 0 0
  i
    opacity .5
    transition(all)
  &:hover
  &:focus
    color #fff
    text-decoration none
    i
      opacity 1
  &.about-step
    bottom 70px
    width 212px
    height 106px
    margin 0 0 0 -106px
    title-font(22px)
    i
      opacity 1
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 0
      height 0
      border-style solid
      border-width 106px 106px 0 106px
      border-color rgba(0, 0, 0, .5) transparent transparent transparent
      transition(all)
    &:hover
    &:focus
      &:before
        border-color rgba(0, 0, 0, .7) transparent transparent transparent
      i
        padding 10px 0 0
/*===== Welcome block =====*/

.welcome
  z-index 15
  fixed-backgrounds(url("../img/welcome.jpg"))

.header-wrapper
  position absolute
  top 0
  left 0
  right 0

.header
  overflow hidden
  position relative
  padding 190px 0 0
  .content-center
    position relative

.logo
  margin 0 15px 0 0

.header-right-wrap
  overflow hidden

.slogan
  margin 0 0 20px
  title-font(48px)
  letter-spacing .1em
  line-height .8em
  text-transform uppercase
  color #fff
  span
    display block
    opacity .5

.values-list
.social-links-list
  overflow hidden
  margin 0
  padding 0
  list-style none

.value-item
  float left
  margin 0 25px 0 0
  &:last-child
    margin 0

.value-link
  title-font(18px)
  color rgba(255, 255, 255, 1)
  transition(color)
  span
    display block
    opacity .5
    title-font(14px)
    transition(opacity)
  &:hover
  &:focus
    text-decoration none
    span
      opacity 1

.social-links-wrap
  position absolute
  top -165px
  right 25px

.social-links-list
  overflow visible

.social-link-item
  float left
  margin 0 5px 0 0
  &:last-child
    margin 0
  .social-link
    display block
    width 20px
    height 20px
    background url("../img/social-icons-sprite@2x.png") no-repeat
    background-size 69px 20px
    text-indent -9999px
    transition(all)
    &:hover
    &:focus
      transform(scale(1.2))
      /*transform(rotateY(360deg))*/
  &.fb
    .social-link
      background-position 0 0
  &.vk
    .social-link
      background-position -25px 0
  &.tw
    .social-link
      background-position -49px 0

.fix-header
  .welcome
    padding 362px 0 0
  .header-wrapper
    position fixed
    z-index 500
    width 100%
    padding 15px 0 0
    background #005f8c
    box-shadow(0 3px 0 rgba(0, 0, 0, .3))
  .header
    overflow visible
    padding 0
  .logo
    margin 0 15px -30px 0
    img
      width 82px
      height 113px
  .slogan
    font-size 16px
    span
      display inline-block
      margin 0 10px 0 0
  .social-links-wrap
    top 15px

.about
  fixed-backgrounds(url("../img/about-bg.jpg"))
  .title
    section-titles(rgba(255, 255, 255, .3), #fff)
  article
    color #fff

.after-about
  fixed-backgrounds(url("../img/after-about.jpg"))

.goals
  fixed-backgrounds(url("../img/goals-bg.jpg"))
  .title
    section-titles(#85B200, #444)
  article
    color #444

.after-goals
  fixed-backgrounds(url("../img/after-goals.jpg"))

.manifest-goals
  fixed-backgrounds(url("../img/manifest-goals-bg.jpg"))
  .title
    section-titles(rgba(255, 255, 255, .3), #fff)
  article
    color #fff
    h4
    ul
      margin 0 0 30px
    h4
      title-font(28px)
    li
      font-size 14px
    p
      font-size 16px

.internal-page
  .welcome
    height 310px !important
    padding 0
    fixed-backgrounds(url("../img/welcome.jpg"))
    .to-main-page
      margin 160px 0 0
      title-font(16px)
      font-weight 700
      color #fff

.footer
  a
    title-font(22px)
    font-weight 600
    color #DA4444
    &:hover
      color #23527c
      text-decoration none
  .next-page
    line-height 1em
    span
      display block
      title-font(14px)
      opacity .5

.next-page-wrap
  overflow hidden
  padding 35px 0
  background #f1f1f1

.logo-small-wrap
  padding 25px 0 40px
  text-align center
  .copyright
    margin 5px 0 0
    font-size 12px
    color #d6d6d67