/*===== Variables =====*/
$animation-delay = .5s

/*===== Mixin =====*/
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow arguments
  box-shadow arguments

transition(property)
  if property == "none"
    -webkit-transition property
    -moz-transition property
    -ms-transition property
    -o-transition property
    transition property
  else
    -webkit-transition property $animation-delay
    -moz-transition property $animation-delay
    -ms-transition property $animation-delay
    -o-transition property $animation-delay
    transition property $animation-delay

transform()
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  -ms-transform arguments
  transform arguments

animation()
  -webkit-animation arguments
  -moz-animation arguments
  -o-animation arguments
  animation arguments

title-font(size)
  font 300 size "Open Sans Condensed", sans-serif

section-titles(border-color, color)
  padding 0 0 70px
  text-align center
  h3
    position relative
    width 600px
    margin 0 auto
    border-bottom 2px solid border-color
    title-font(64px)
    letter-spacing .1em
    line-height 100px
    text-transform uppercase
    color color
    &:after
      content ""
      position absolute
      bottom -16px
      left 50%
      margin 0 0 0 -14px
      width 0
      height 0
      border-style solid
      border-width 14px 14px 0 14px
      border-color border-color transparent transparent transparent

fixed-background(image-url)
  .section-image
    position fixed
    top 0
    width 100%
    height 100%
    background image-url no-repeat 50% 50%
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover

normal-background(image-url)
  background image-url 50% 0 no-repeat
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover

/*===== Default classes =====*/
body
  font 16px "Open Sans", sans-serif

:focus
  outline none

*::-moz-focus-inner
  border 0

.content-center
  position relative
  width 940px
  margin 0 auto

.wrapper
  > section
    position relative
    padding 50px 0 70px
    min-height 600px
    &.after-section
      min-height 400px
    article
      line-height 1.5em

.transparent
  opacity 0

.untransparent
  opacity 1

.section-clipper
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  clip rect(auto,auto,auto,auto)
  width 100%
  height 100%

.next-step
  position absolute
  left 50%
  bottom 30px
  margin 0 0 0 -14px
  title-font(44px)
  text-align center
  color #fff
  span
  i
    display block
    position relative
    z-index 10
  span
    margin 15px 0 0
  i
    color rgba(255, 255, 255, .5)
    transition(all)
  &:hover
  &:focus
    color #fff
    text-decoration none
    i
      color #fff
  &.about-step
    bottom 70px
    width 212px
    height 106px
    margin 0 0 0 -106px
    title-font(22px)
    i
      color #fff
    &:before
      content ""
      position absolute
      top 0
      left 0
      width 0
      height 0
      border-style solid
      border-width 106px 106px 0 106px
      border-color rgba(0, 0, 0, .5) transparent transparent transparent
      transition(all)
    &:hover
    &:focus
      &:before
        border-color rgba(0, 0, 0, .7) transparent transparent transparent
      i
        padding 10px 0 0

/*===== Wrapper =====*/

.wrapper
  overflow hidden
  width 100%

/*===== Welcome block =====*/
.welcome
  padding 0 !important
  z-index 15
  fixed-background(url("../img/welcome.jpg"))

.header-wrapper
  position absolute
  top 0
  left 0
  right 0
  transition(all)

.header
  overflow hidden
  position relative
  padding 190px 0 0
  .content-center
    position relative

.logo
  margin 0 15px 0 0

.header-right-wrap
  overflow hidden

.slogan
  margin 0 0 20px
  title-font(48px)
  letter-spacing .1em
  line-height .8em
  text-transform uppercase
  color #fff
  span
    display block
    color rgba(255, 255, 255, .5)

.values-list
.social-links-list
  overflow hidden
  margin 0
  padding 0
  list-style none

.value-item
  float left
  margin 0 25px 0 0
  &:last-child
    margin 0

.value-link
  title-font(18px)
  color #fff
  transition(color)
  span
    display block
    color rgba(255, 255, 255, .5)
    title-font(14px)
    transition(color)
  &:hover
  &:focus
    text-decoration none
    color #fff
    span
      color #fff

.social-links-wrap
  position absolute
  top -165px
  right 25px

.social-links-list
  overflow visible

.social-link-item
  float left
  margin 0 5px 0 0
  &:last-child
    margin 0
  .social-link
    display block
    width 20px
    height 20px
    background url("../img/social-icons-sprite@2x.png") no-repeat
    background-size 69px 20px
    text-indent -9999px
    &:hover
    &:focus
      transform(scale(1.2))
      /*transform(rotateY(360deg))*/
  &.fb
    .social-link
      background-position 0 0
  &.vk
    .social-link
      background-position -25px 0
  &.tw
    .social-link
      background-position -49px 0

.fix-header
  .welcome
    padding 362px 0 0
  .header-wrapper
    overflow hidden
    position fixed
    top -128px
    z-index 500
    width 100%
    height 90px
    padding 30px 0 20px
    background #005f8c
    box-shadow(0 3px 0 rgba(0, 0, 0, .3))
    transition(all easy-out)
    &.closed-menu
      width 0
      .toggle-menu-icon
        background url("../img/menu-icon.png") 0 0 no-repeat
      .header .content-center
        width 0
        transition(all easy-out)

  .toggle-menu-icon
    position fixed
    z-index 5
    top 20px
    left 20px
    width 50px
    height 50px
    background url("../img/close-menu-icon.png") 0 0 no-repeat
  .header
    overflow visible
    padding 0
  .logo
    margin 0 15px -30px 0
    img
      width 82px
      height 113px
  .slogan
    font-size 16px
    span
      display inline-block
      margin 0 10px 0 0
  .social-links-wrap
    position absolute
    z-index 502
    top 25px
    right 35px
    &.fixed
      position fixed
.internal-page-nav
  position absolute
  bottom 0
  right 0
  width 100%
  background rgba(0, 0, 0, 0.5)
  height 120px
  .pull-left
  .pull-right
    position relative
    display inline-block
    height 30px
    padding 0 19px
    margin 45px 25px
    background rgba(0, 0, 0, 0.5)
    font 700 12px/30px "PT Sans", sans-serif
    color #fff
    &:before
      content ""
      position absolute
      top 0
      width 0
      height 0
      border-top 15px solid transparent
      border-bottom 15px solid transparent
  .pull-left:before
    left -15px
    border-right 15px solid rgba(0, 0, 0, 0.5)
  .pull-right:before
    right -15px
    border-left 15px solid rgba(0, 0, 0, 0.5)

  h1
    line-height 120px
    margin 0
    title-font(72px)
    color #ffffff
    text-align center
.about
  fixed-background(url("../img/about-bg.jpg"))
  .title
    section-titles(rgba(255, 255, 255, .3), #fff)
  article
    color #fff

.after-about
  fixed-background(url("../img/after-about.jpg"))

.goals
  fixed-background(url("../img/goals-bg.jpg"))
  .title
    section-titles(#85B200, #444)
  article
    color #444

.after-goals
  fixed-background(url("../img/after-goals.jpg"))

.manifest-goals
  fixed-background(url("../img/manifest-goals-bg.jpg"))
  .title
    section-titles(rgba(255, 255, 255, .3), #fff)
  article
    color #fff
    h4
    ul
      margin 0 0 30px
    h4
      title-font(28px)
    li
      font-size 14px
    p
      font-size 16px

.internal-page
  > section
    min-height initial
    .title
      h1
      h2
        float left
    &.value-1
      normal-background(#fff)
      article
        p
          color #000
    article
      overflow hidden
      width 100%
      .goals-list
        width 293px
        margin 0 0 25px 50px
        padding 20px 0 15px
        border-left 7px solid rgba(219, 31, 44 .7)
        list-style none
        background #fff
        box-shadow(0 3px 0 rgba(0, 0, 0, .2))
        li
          padding 0 40px
          background url("../img/goals-list.png") 15px 5px no-repeat
        p
          font-size 14px
          font-weight 700
          line-height 1.2em
          color #db1f2c !important
      p
        clear left
        color #fff
  .welcome
    height 770px
    padding 0
    normal-background(url("../img/welcome.jpg"))
    background-position center center
    .to-main-page
      margin 160px 0 0 -130px
      font-size 12px
      color #fff
    .header-wrapper
      top 0

.value-1
  padding 40px 0 70px
  normal-background(url("../img/value-1-bg.jpg"))
  .title
    h1
      margin 0 0 40px
      title-font(64px)
      line-height .7em
      color #fff
      span
        display block
        opacity .5
        title-font(18px)

.sub-value
  padding 80px 0 45px
  .title
    h2
      margin 0 0 25px
      title-font(22px)
      font-weight 700
      line-height .9em
      color #0085C6
      span
        display block
        color #000
  article
    p
      color #444 !important

.sub-value-1
.sub-value-3
  background #f6f6f6

.sub-value-2
  background #e5e5e5

.now-after-wrap
  .now-wrap
    float left
  .after-wrap
    float right
  aside
    header
      margin 0 0 15px
      title-font(22px)
      font-weight 700
      text-align center
      color #000
    figcaption
      title-font(13px)
      font-style italic
      color #777

.footer
  position relative
  a
    title-font(22px)
    font-weight 600
    color #DA4444
    &:hover
      color #23527c
      text-decoration none
    &.pull-left
      margin-top 15px
  .next-page
    text-align right
    line-height 1em
    span
      display block
      margin-right 10px
      title-font(14px)
      opacity .5
  .dev-logo
    overflow hidden
    position absolute
    bottom 0
    right 60px
    display block
    width 60px
    height 31px
    background url("../img/moc_logo.png") 0 0 no-repeat
    text-indent -999px

.next-page-wrap
  overflow hidden
  padding 35px 0

.logo-small-wrap
  padding 45px 0 10px
  text-align center
  .copyright
    margin 5px 0 0
    font-size 12px
    color #d6d6d6